<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PokeDex</title>
	</head>
	<h1>Pokedex</h1>
	<body>
		<ul>
			<% for(let i = 0; i < allPokemon.length - 135; i++) { %>
			<li><img src="<%= allPokemon[i].img %>"></li>
			<% } %>
		</ul>
	</body>
</html>
