<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
		<title>PokeDex</title>
	</head>
	<h1>Pokedex</h1>
	<body>
		<ul>
			<% for(let i = 0; i < allPokemon.length - 135; i++) { %>
			<li>
				<div><%=allPokemon[i].name%></div>
                <img src="<%= allPokemon[i].img %>">
                <form action ="/pokemon/<%=i; %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                <button><a href="/pokemon/<%=i; %>/edit">Edit</a></button>
            </li>
			<% } %>
		</ul>
		<a href="/pokemon/">Back to Pokedex</a>
        <nav>
            <a href="/pokemon/new">Create a New Pokemon</a>
        </nav>
	</body>
</html>
