<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
		<title>Add New Pokemon</title>
	</head>
	<h1>Add New Pokemon!</h1>
	<body>
		<form action="/pokemon/" method="POST">
			Name:
			<input
				type="text"
				name="name"
				Placeholder="Name"
			/><br />
			HP stat:
			<input
				type="text"
				name="stats"
				placeholder="HP"
			/><br />
			Attack stat:
			<input
				type="text"
				name="stats"
				placeholder="Attack"
			/><br />
			Defense stat:
			<input
				type="text"
				name="stats"
				placeholder="Defense"
			/><br />
			SpAttack stat:
			<input
				type="text"
				name="stats"
				placeholder="Special Attack"
			/><br />
			SpDefense stat:
			<input
				type="text"
				name="stats"
				placeholder="Special Defense"
			/><br />
			Speed stat:
			<input
				type="text"
				name="stats"
				placeholder="Speed"
			/><br />
			Type:
			<input
				type="text"
				name="type"
				placeholder="Type"
			/><br />
			<input type="submit" name="" value="Add New Pokemon" />
		</form>
	</body>
</html>
